
/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
*{
    background-color: rgb(240, 239, 234);
}
.tarea .hide{
    list-style: none;
    display: none;
}
.tarea:hover .hide{
    display: block;
}  